{% extends "base.html" %}

{% block content %}

<form method="POST" autocomplete="off" style="text-align: center; ">
    {% csrf_token %}
    <div class="row">
        <div class="col-6 text-end"><label for="{{ passwordform.old_password.id_for_label }}"><h3 class="form-label" style="color:white;">Old password:</h3></label></div>
        <div class="col-6 text-start">{{ form.old_password }}</div>
    </div>
    <div class="row">
        <div class="col-6 text-end"><label for="{{ passwordform.old_password.id_for_label }}"><h3 class="form-label" style="color:white;">New password:</h3></label></div>
        <div class="col-6 text-start">{{ form.new_password1 }}</div>

    </div>
    <div class="row">
        <div class="col-6 text-end"><label for="{{ passwordform.old_password.id_for_label }}"><h3 class="form-label" style="color:white;">Confirm new password:</h3></label></div>
        <div class="col-6 text-start">{{ form.new_password2 }}</div>
    </div>
    <input type="submit" value="Change Password" class="btn btn-primary" style="background-color: #A5C77D; border: none;"/>
</form>
{% endblock %}