{% extends "base.html" %}

{% block content %}

    <div class="row text-center author ">
        <h1 class="dashboardheader">{{ user }}</h1>
    </div>
    <div class="row text-center">
        <h2 class="text-pink">{{ email }}</h2>
    </div>
    <div class="row">
        <h2  class="card-title">Bio</h2>
        <p class="card-content">Your bio here</p>
    </div>
    <div class="row text-center dashboardcontrols">
        <div class="col-4 aligncenter nopad dashboard">
            <button class="btn dashboardbtn"><h2>Edit bio</h2></button>
        </div>
        <div class="col-4 aligncenter nopad dashboard">
            <a href="{% url 'change_password' %}"><button class="btn dashboardbtn"><h2>Change password</h2></button></a>
        </div>
        <div class="col-4 aligncenter nopad dashboard">
            <a href="{% url 'logout' %}"><button class="btn dashboardbtn"><h2>Logout</h2></button></a>
        </div>

        
    </div>
        
        <div class="col-md-12 posts-block">
            <div class="col-md-10 offset-md-1 mb-4">
                    <p class="author">Awaiting admin approval</p>
                    
            </div>
        </div>
        {% for post in posts %}
        {% if post.status == 0 %}
                <div class="col-md-12 posts-block">
                    <div class="card col-md-10 offset-md-1 mb-4">
                        <div class="card-body">
                            <a href="#" class="post-link">
                                
                                <a href="{% url 'post_detail' post.pk %}"><h2 class="card-title">{{ post.title }}</h2></a>
                                <span><img src="static/assets/beet white fill transp bg.png" width="50rem" alt=""><h4>{{post.votes}}</h4></span>
                            </a>
                            <p class="card-content">{{ post.content }}</p>
                            <p class="card-date">{{ post.date}}</p>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn"><h2>Edit</h2></button>
                                </div>
                                <div class="col-6 text-end">
                                    <button class="btn"><h2>Delete</h2></button>
                                </div>
                            </div>
                         
                        </ul>   
                        </div>  
                    </div>
                </div>
        {% endif %}
        {% endfor %}
        <div class="col-md-12 posts-block">
            <div class="col-md-10 offset-md-1 mb-4">
                    <p class="author">Your published posts</p>
                    
            </div>
        </div>
        {% for post in posts %}
        {% if post.status == 1 %}
                <div class="col-md-12 posts-block">
                    <div class="card col-md-10 offset-md-1 mb-4">
                        <div class="card-body">
                            <a href="#" class="post-link">
                                
                                <a href="{% url 'post_detail' post.pk %}"><h2 class="card-title">{{ post.title }}</h2></a>
                                <span><img src="static/assets/beet white fill transp bg.png" width="50rem" alt=""><h4>{{post.votes}}</h4></span>
                            </a>
                            <p class="card-content">{{ post.content }}</p>
                            <p class="card-date">{{ post.date}}</p>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn"><h2>Edit</h2></button>
                                </div>
                                <div class="col-6 text-end">
                                    <button class="btn"><h2>Delete</h2></button>
                                </div>
                            </div>
                         
                        </ul>   
                        </div>  
                    </div>
                </div>
        {% endif %}
        {% endfor %}


    


{% endblock %}