{% extends "base.html" %}

{% block content %}


<form method="POST" autocomplete="off" style="text-align: center;" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <input type="submit" value="Update post" class="btn larger">
</form>
<!-- auto fills in author field with user and sets status back to 0 -->
<script>
    var name= "{{ user.id }}"
    document.getElementById("author").value = name;
    var draft= "0"
    document.getElementById("status").value = draft;

</script>

{% endblock %}