{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Sidebar-->
        <div class="col-2 sidebar">
            <div class="row">
                <p>All</p>
            </div>
    
        </div>
        <!-- Forum Posts Column -->
        <div class="col-10 offset-md-2 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-6 offset-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">

                                    <p class="author">{{ post.author }}</p>

                            </div>
                            <a href="#" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <span><img src="static/assets/beet white fill transp bg.png" width="50rem" alt=""><h4>{{post.votes}}</h4></span>
                            </a>
                            <p class="card-content">{{post.content}}</p>
                            <p class="card-date">{{ post.date}}</p>
                            <hr>
                         <h2 class="comments-header">Comments</h2>
                        
                        <ul>
                            {% for comment in post.comments.all %}
                            <div class="comments-list">
                                <li>
                                <p class="comments-author">{{ comment.commentAuthor }}</p>
                                <p class="comments-date">{{ comment.commentDate }}</p>
                                <p class="comments-body">{{ comment.commentBody }}</p>
                                </li>
                            </div>
                            {% empty %}
                            <li class="comments-body">No comments yet.</li>
                            {% endfor %}
                        </ul>   
                        </div>
                        
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}