<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
</head>

<body>
    <h1>Posts list</h1>
    {% for post in object_list %}
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
    <p>post id: {{post.postID}}</p>
    <p>community: {{post.community}}</p>
    <p>{{post.date}}</p>
    <p>upvotes: {{post.votes}}</p>
    <p>Author: {{post.author}}</p>
    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
        <li>
            <p>{{ comment.commentBody }}</p>
            <p>By {{ comment.commentAuthor }} on {{ comment.commentDate }}</p>
        </li>
        {% empty %}
        <li>No comments yet.</li>
        {% endfor %}
    </ul>
    {% endfor %}
</body>

</html>