{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid main-content">
    <div class="row">

       
        <!-- Forum Posts Column -->
        <div class="mt-3 left">
            <div class="row">
                
                {% for post in post_list %}
                <div class="col-12 posts-block">
                    <div class="card col-10 offset-1 mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <p class="card-date">/{{ post.community }}</p>
                                <p class="author">{{ post.author }}</p>
                            </div>
                                <a href="{% url 'post_detail' post.pk %}"><h2 class="card-title">{{ post.title }}</h2></a>
                            <!-- Votes -->
                            <!-- <span><img src="static/assets/beet white fill transp bg.png" width="50rem" alt=""><h4>{{post.votes}}</h4></span>-->
                            <hr>
                            <p class="card-content">{{ post.content }}</p>
                            <p class="card-date">{{ post.date}}</p>
                            <hr>
                            <button onclick="hideshow({{ forloop.counter0 }})" class="btn btn-comments"><h2 class="comments-header">Comments</h2></button>
                            
                            <div id="comments-container-{{ forloop.counter0 }}" style="display: none;">
                                <ul>
                                    {% for comment in post.comments.all %}
                                    <div class="comments-list">
                                        <li>
                                            <p class="comments-author">{{ comment.commentAuthor }}</p>
                                            <p class="comments-date">{{ comment.commentDate }}</p>
                                            <p class="comments-body">{{ comment.commentBody }}</p>
                                        </li>
                                    </div>
                                    {% empty %}
                                    <li class="comments-body">No comments yet.</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <br>
            <li><a href="?page={{ page_obj.next_page_number }}" class="btn larger"> Next &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<script>
    function hideshow(index) {
        var commentsContainer = document.getElementById('comments-container-' + index);
        if (commentsContainer.style.display === 'none') {
            commentsContainer.style.display = 'block';
        } else {
            commentsContainer.style.display = 'none';
        }
    }
</script>
{% endblock %}