/* General stylers */
body {
    background-color: #A5C77D;
    width: 100vw;
}
p, h1, h2, h3, h4, h5, h6 {
    font-family: Dosis, sans-serif;
}
.aligncenter {
    align-content: center;
    justify-content: center;
}
.nopad {
    padding: 0;
}

.btn {
    font-family: Dosis, sans-serif;
    color: #7B1F4D;
    background-color: #AE5985;
    font-weight: bold;
}

.light-bg {
    background-color: white;
}
.text-light {
    color: #A5C77D;
}
.text-pink {
    color: #AE5985;
}
.dark-bg {
    background-color: #2F3702;
}
.text-dark {
    color: #2F3702;
}
.faded {
    color: rgb(172, 175, 175);
}
/* Navbar */
.navbar-brand {
    align-content: center;
    
}
.navbar-nav .nav-link {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
}
.nav-link {
    padding: 0;
}
.navbar-nav {
    display: flex;
    justify-content: space-around;
}
.nav-item {
    padding: 1.4vw;
}
.logo {
    font-family: Dosis, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: white;
    margin-top: 10rem;
    justify-self: center;
    position: relative;
    top: 0.6rem;
}
.navbar {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1003;
    height: 10vh;
    min-height: 100px;
    align-items: start;
}
#navbarText {
    background-color: #7B1F4D;
    position: relative;
    top: auto;
}
.navtop {
    background-color: #7B1F4D;
}
.nav-link {
    font-family: Dosis, sans-serif;
    font-weight: 600;
    font-size: 2.6vw;
}
.nav-link-text {
    color: white;
    font-size: 250%;
}
.navbar-nav {
    text-align: right;
}
.navbar-toggler {
    border: 2px solid white;
}
.navbar-toggler-icon {
    color: white;
}
/* Main content*/
.main-bg {
    background-color: #7B1F4D;
}
.maincontent {
    position: relative;
    top: 10vh;
    margin-left: 20vw;
}

/* Sidebar*/
.sidebar-col {
    background-color: #7B1F4D;
    padding: 0;
    position: fixed;
    top: 40vh;
    margin-top: 20px;
    z-index: 1000;
    height: 100vh;
    width: 20vw;
}
.sidebar > h1 {
    color: #AE5985;
    font-size: 2.6vw;
    font-weight: bold;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 4vh;
    margin-left: 2vw;
}

/* Post list */
.posts-block {
    padding-left: 2vw;
    padding-right: 2vw;
}
.card {
    border-style: solid;
    border-color: #2F3702;
    border-width: 0.2rem;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    padding-top: 5%;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: #A5C77D;
    font-size: 6vw;
    font-weight: 500;
    margin-bottom: 0;
}
.card-title {
    color: white;
    font-size: 5vw;
    font-weight: 600;
}
.card-content {
    color: #AE5985;
    font-size: 3.4vw;
    font-weight: 400;
}
.card-date {
    color: #AC3448;
    font-weight: bold;
    font-size: 2.4vw;
}
hr {
    color: #2F3702;
}
.comments-header {
    color: #2F3702;
    font-size: 4vw;
}
ul {
    list-style-type: none;

}
.comments-list {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.comments-body {
    font-family: Dosis, sans-serif;
    color: #AE5985;
    font-size: 2.2vw;
    font-weight: 400;
    margin-bottom: 1rem;
}
.comments-author{
    color: #A5C77D;
    font-size: 2.5vw;
    margin-bottom: 0;
}
.comments-date{
    color: #AC3448;
    font-weight: bold;
    font-size: 1.5vw;
    margin-bottom: 0.5rem;
    
}
.post-link {
    text-decoration: none;
    color: #2F3702;
}

.post-link:hover,
.page-link {
    color: white;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}
/* dashboard */
.dashboardheader {
    font-size: 120%;
}
.dashboard {
    border-top: 2px solid #A5C77D;
    border-bottom: 2px solid #A5C77D;
}
.dashboardbtn {
    color: white;
    
}
.dashboardcontrols {
    margin-bottom: 0.5rem;
}

/* Other */
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #2F3702;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

/* Buttons */

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #7B1F4D;
    border: none;
    background: transparent;
}

.btn-delete {

}

.btn-like:hover,
.btn-like:active {
    color: #7B1F4D;
    background: transparent;
    border: none;
}

/* Footer */
footer {
    position: fixed;
    width: 100vw;
    z-index: 1002;
    bottom: 0;
    height: 7vh ;
    padding: 0;
}

footer > .row {
    margin-top: 1vh;
}
.footer-socials {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #A5C77D;
    margin-top: 1.4vh;
    padding: 0;
    font-size: 60%;
}
.footer-text {
    text-align: center;
    margin-top: 2vh;
    padding-right: 10px;
    display: flex;
    justify-content: end;
    padding: 0;
    font-size: 70%;
    
}
.footer-text > p {
    color: #2F3702;
}
.footer-sig {
    text-align: center;
    margin-top: 3vh;
    display: flex;
    text-wrap: wrap;
    justify-content: center;
    padding: 0;
    font-size: 40%;
}


@media only screen and (min-width: 400px) {
.footer-text > p {
    color: white;
}   
}
@media only screen and (min-width: 560px) {
 .nav-link-text {
    font-size: 175%;
}
}

@media only screen and (min-width: 768px) {
/* Nav menu */
.nav-link-text {
    font-size: 125%;
}
    /* Sidebar */
.sidebar > h1 {
    font-size: 1.2rem;
}
/* post list */
.author {
    font-size: 2.4rem;
}
.card-title {
    font-size: 2.8rem;
}
.card-content {
    font-size: 2rem;
}
.card-date {
    font-size: 1.2rem;
}

.comments-header {
    font-size: 2.4rem;
}

.comments-list {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.comments-body {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.comments-author{
    font-size: 2rem;
}
.comments-date{
    font-size: 1rem;
    
}
/* Footer */
.footer-text {
    font-size: 100%;    
}

.footer-sig {
    font-size: 70%;
}
.footer-socials {
    font-size: 80%;
}
}


@media only screen and (min-width: 992px) {
/* Nav bar */
.nav-link-text {
    font-size: 75%;
}
.navbar-collapse {
    margin-left: 19vw;
}
.navbar-collapse > ul > li {
    padding-left: 5vw;
    padding-right: 5vw;
}
#navbarText {
    display: flex;
    justify-content: space-around;
}
.navbar-brand {
    position: fixed;
    z-index: 1001;
    
}
/* Footer */
.footer-text {
    font-size: 130%;    
    justify-content: end;
}

.footer-sig {
    font-size: 85%;
}
.footer-socials {
    font-size: 120%;
}
}